nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 150px;
}

.logo {
    display: flex;
    max-width: 120px;
}

.logo img {
    width: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

nav ul li a {
    color: #6b7280;
    font-weight: 600;
    font-size: 15px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: white;
}

#toggle {
    display: none;
    cursor: pointer;
    font-size: 24px;
}