@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Inter Tight", sans-serif;
    color: white;
}

.block {
    padding: 100px 150px;
}

body {
    background-color: #030712;
}


/* Small screens */
@media(max-width: 1300px) {
    .block {
        padding: 100px 100px;
    }

    nav {
        padding: 0px 100px;
    }

    .heading.four {
        font-size: 55px;
    }

    footer, .footer-links {
        flex-direction: column;
    }

    footer {
        gap: 50px;
        padding: 0px 100px 100px 100px;
    }

    .footer-links {
        gap: 50px;
    }

    .desc.six {
        margin: 25px 0px 40px 0px;
    }
}

@media(max-width: 1250px) {
    nav ul {
        display: none;
    }

    #toggle {
        display: block;
    }

    .heading.three {
        font-size: 40px;
    }

    .f-flex.two, .f-flex, .faq-flex {
        gap: 60px;
    }

    .faq-div-one {
        margin-top: 20px;
    }

    .questions {
        margin-top: 20px;
    }

    .faq-flex {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .faq-img {
        max-width: 600px;
    }
}

@media(max-width: 1200px) {
    .features {
        grid-template-columns: repeat(2, 1fr);
    }

    .features.solutions .feature:nth-child(1) {
        grid-row: span 1;
        grid-column: span 2;
    }

    .features.solutions {
        grid-template-rows: repeat(3, 306.2px);
    }

    .features.blogs .blog:nth-child(3) {
        margin-top: 40px;
    }
}

@media(max-width: 1100px) {
    .block {
        padding: 100px 80px;
    }

    nav {
        padding: 0px 80px;
        height: 90px;
    }

    .f-flex.two, .f-flex {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .f-flex div {
        width: fit-content;
    }

    .clients p {
        display: none;
    }

    .heading.two {
        font-size: 45px;
    }

    footer {
        padding: 0px 80px 100px 80px;
    }
}

@media(max-width: 1000px) {
    .title {
        font-size: 22.5px;
    }
}

@media(max-width: 900px) {
    .heading {
        font-size: 55px;
    }

    .hero {
        padding: 100px 80px;
    }

    .features {
        grid-template-columns: 1fr;
    }

    .features.solutions .feature:nth-child(1) {
        grid-column: span 1;
    }

    .features.solutions {
        grid-template-rows: repeat(5, 306.2px);
    }
}

@media(max-width: 720px) {
    .features {
        gap: 20px;
    }

    .features.blogs .blog:nth-child(2) {
        margin-top: 40px;
    }

    .date {
        margin-top: 25px;
    }

    .date p:nth-child(1) {
        padding: 10px 20px;
        border-radius: 5px;
    }

    .title {
        margin: 13px 0px 25px 0px;
        font-size: 20px;
        max-width: initial;
    }

    .heading.four {
        font-size: 45px;
        margin-bottom: 40px;
    }

    .contact {
        padding: 100px 40px;
    }
}

@media(max-width: 650px) {
    .heading {
        font-size: 45px;
    }

    .contact .links {
        flex-direction: column;
    }
}

@media(max-width: 550px) {
    .hero .links {
        flex-direction: column;
    }

    .clietns-img {
        flex-wrap: wrap;
        justify-content: center;
    }

    .desc.three, .desc.six {
        font-size: 18px;
    }

    .heading.two, .heading.three, .heading.four {
        font-size: 29px;
    }

    .feature {
        padding: 35px;
    }

    .question div p {
        font-size: 16px;
    }
}

@media(max-width: 500px) {
    .block {
        padding: 100px 50px;
    }

    nav {
        padding: 0px 50px;
    }

    .heading {
        font-size: 40px;
    }

    .logo {
        max-width: 100px;
    }

    .hero {
        padding: 100px 50px;
    }

    .f-img {
        width: 75px;
        height: 75px;
    }

    .f-img img {
        width: 30px;
    }

    footer {
        padding: 0px 50px 100px 50px;
    }
}

@media(max-width: 450px) {
    .features.solutions .feature p:nth-child(1) {
        font-size: 50px;
    }

    .features.solutions .feature p:nth-child(2)  {
        font-size: 16px;
    }

    .features.solutions {
        grid-template-rows: repeat(5, 250px);
    }
}

/* Large screens */
@media(min-width: 1496px) {
    .block, footer, nav {
        width: 1496px;
        margin: auto;
    }
}